.AirbnbCardHeader {
  border: 2px solid greenyellow;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.AirbnbCardMedia {
  border: 2px solid greenyellow;
}
.AirbnbCardMedia img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 50% 50%;
}

.AirbnbCardRatingsReviews {
  border: 2px solid greenyellow;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.AirbnbCardLocationPayment {
  border: 2px solid greenyellow;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.AirbnbCardHost {
  border: 2px solid greenyellow;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
